
/*
 * Header
 */
.header-main {
  background: #e2373c url('../../assets/city.png') no-repeat center bottom;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  min-height: 400px;
  position: relative;
  min-height: 500px;
}

/*
 * Header
 */
.header-logo {
  display: inline-block;
  width: 250px;
  height: 54px;
  margin: 20px 0;
  background: url('../../assets/baf-logo.png') no-repeat;
  text-indent: -9999px;
}

.header-title {
  font-size: 3em;
  font-weight: 300;
}

.header-subtitle {
  font-size: 1.5em;
  margin: 0;
}

/*
 * Tags
 */
.baf-tags {
  margin: 20px 0;
}

.baf-tags li {
  display: inline-block;
  list-style: none;
  margin: 0 5px 10px;
  padding: 5px 10px;
  background-color: #BE242C;
  color: rgba(255,255,255,.8);
  box-shadow: 0px -1px rgba(0,0,0,.1);
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}


/*
 * Meetup details
 */
.meetup-details {
  font-size: 24px;
  margin-top: 40px;
}

.meetup-venue {
  margin-right: 25px;
}

/*
 * Countdown
 */
.countdown {
  margin-top: 30px;
}

.countdown-number {
  position: relative;
  z-index: 1;
  font-size: 8em;
  border-radius: 10px;
  background-color: #BE242C;
  display: inline-block;
  padding: 10px 25px;
  font-weight: bold;
  opacity: .8;
  min-width: 128px;
  height: 140px;
  line-height: .98em;
}

.countdown-number:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #E2373C;
  z-index: -1;
}

.countdown-number span:before,
.countdown-number span:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 15px;
  background-color: #E2373C;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.countdown-number span:before {
  left: 7%;
}

.countdown .countdown-number span:after {
  right: 7%;
}

.countdown-label {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400;
}

/*
 * RSVP button
 */
.btn {
  display: inline-block;
  border: 3px solid #FFF;
  padding: 25px 80px;
  border-radius: 50px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  color: #e2373c;
  background-color: #fff;
}

.btn-rsvp {
  margin: 30px 0;
}

/*
 * Speakers
 */
.speakers {
  padding: 20px 10px 0;
  text-align: center;
}

.speakers-title {
  text-align: center;
  margin-bottom: 30px;
}

.speaker-box {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: left;
}

.speaker-info {
  position: relative;
}

.speaker-name {
  background-color: #E2373C;
  color: #fff;
  padding: 20px 30px;
  font-size: 1.5em;
  border-radius: 4px;
  text-align: center;
}

.speaker-avatar {
  border-radius: 4px;
  width:100%;
}

.speaker-network {
  padding: 10px 0;
  list-style: none;
}

.speaker-network li {
  display: inline-block;
  margin-right: 10px;
}

.speaker-network-icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-size: contain;
  text-indent: -999px;
  overflow: hidden;
}

.speaker-network-twitter {
  background: url('../../assets/icons/twitter.svg') center center no-repeat;
}

.speaker-talk,
.speaker-bio {
  font-size: 1.2em;
  color: #666;
}

/*
 * Venue
 */
.venue {
  position: relative;
}

.venue iframe {
  pointer-events: none;
}

.marker {
  background-color: #e2373c;
  border-radius: 3px;
  color: #fff;
  font-size: 19px;
}

.marker img {
  display: none;
}

.marker address,
.marker time {
  display: inline-block;
  margin: 20px 0;
}

.marker address {
  font-style: normal;
  width: 45%;
  padding-left: 12px;
}

.marker time {
  vertical-align: top;
  width: 35%;
  padding-left: 20px
}

/*
 * Sponsors
 */
.sponsors {
  text-align: center;
  padding: 40px 10px 30px;
}

.sponsors-title {
  margin-bottom: 25px;
}

.sponsors-list li {
  list-style: none;
  display: inline-block;
  margin: 15px;
}

/*
 * Footer
 */
.footer-main {
  text-align: center;
  padding: 15px;
  background-color: #444;
  color: #fff;
  font-size: 1.1em;
}

.footer-main a {
  color: #FFF;
}

/*
 * Shared
 */
.layout {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* Medium Screens*/
@media all and (min-width:40em) {}

/* Large Screens */
@media all and (min-width: 54em) {
  .speaker-box {
    margin: 25px;
    width: 550px;
  }

  .speaker-name {
    position: absolute;
    left: 215px;
    top: -13px;
    width: 188px;
    text-align: left;
  }

  .speaker-name:after {
    content: '';
    border: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #E2373C;
    position: absolute;
    bottom: -15px;
    left: 0;
  }

  .speaker-avatar {
    width: 250px;
  }

  .speaker-network {
    position: absolute;
    top: 60px;
    left: 250px;
    padding: 10px;
  }

  .speaker-talk,
  .speaker-bio {
    padding: 0 25px;
    margin: 40px 0;
  }

  .marker {
    position: absolute;
    top: 35px;
    left: 120px;
    width: 390px;
  }

  .marker:after {
    content: '';
    border: 30px solid rgba(0, 0, 0, 0);
    border-left: 30px solid #e2373c;
    position: absolute;
    bottom: -30px;
    left: 0;
  }

  .marker img {
    display: block;
  }
  .marker address {
    padding-left: 35px;
  }
}

/*
 * Slideout styles
 */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #333;
  color: #fff;
}

.slideout-panel {
  background: #fff;
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/*
 * Menu
 */
.menu {
  display: none;
}

.menu a {
  color: #fff;
  display: block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.menu-header {
  border-bottom: 1px solid #2A2D2F;
  padding: 15px 0 15px 20px;
  background-size: 32px;
}

.menu-header-title {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  position: relative;
}

.menu-header-title:before {
  content: '';
  background: url(../../assets/baf-logo.png) no-repeat;
  width: 31px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  background-size: 130px;
  margin-right: 10px;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #85888D;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0;
}

.menu-section-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.menu-section-list a {
  padding: 10px 20px;
}

.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

/*
 * Button hamburger
 */
.btn-hamburger {
  padding:0;
  width:42px;
  height:42px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  border: none;
  outline: none;
  background: transparent;
}

.btn-hamburger:before,
.btn-hamburger:after {
  content: ' ';
  display: block;
  width: 55%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 55%;
  margin-left: -32%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.btn-hamburger:before {
  top: 35%;
}

.btn-hamburger:after {
  bottom: 35%;
}

.slideout-open .btn-hamburger:before {
  top: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slideout-open .btn-hamburger:after {
  bottom: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}