footer.footer-main
  &lt;footer&gt;#BAFrontend es un meetup sin fines de lucro. Para estar informados día a día seguinos en
  a(href="https://twitter.com/BAFrontend" target="_blank") Twitter
  &lt;/footer&gt;