head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="HandheldFriendly", content="True")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  link(rel="shortcut icon", href="src/assets/favicons/favicon.ico")
  link(rel="apple-touch-icon-precomposed", href="src/assets/favicons/apple-touch-icon-precomposed.png")
  link(rel="apple-touch-icon-precomposed", sizes="120x120" href="src/assets/favicons/apple-touch-icon-120x120.png")
  title BAFrontend - Meetup
  link(rel="stylesheet", href="src/css/styles.min.css")