header.header-main
  h1.header-logo BAFrontend
  h2.header-title La meetup de #frontend más cool de todas
  p.header-subtitle Todos los meses nos juntamos a hablar de temas nerds como:
  include tags
  include meetup-details
  include countdown
  a.btn.btn-rsvp(href="#{meetup.rsvp}") Quiero ir!