header.header-main
  h1.header-logo BAFrontend
  h2.header-title La meetup de #frontend más cool de todas
  p.header-subtitle Todos los meses nos juntamos a hablar de temas nerds como:
  ul.baf-tags
    li CSS
    li HTML5
    li JavaScript
    li SASS
    li UX
    li components