nav.menu
  a(href="/")
    header.menu-header
      h2.menu-header-title Inicio
  section.menu-section
    h3.menu-section-title Holis
    ul.menu-section-list
      //- li
      //-   a(href="/eventos") Eventos pasados
      li
        a(href="https://github.com/bafrontend/charlas" target="_blank") Quiero hablar
      li
        a(href="https://github.com/bafrontend/trabajos" target="_blank") Trabajos
      //- li
      //-   a(href="/code-of-conduct") Código de conducta
      //- li
      //-   a(href="/about") Nosotros