section.sponsors
  h3.sponsors-title Nuestros Sponsors
  ul.sponsors-list
    li
      img(src="" alt="Mango Logo")
    li
      img(src="" alt="Mango Logo")
    li
      img(src="" alt="Mango Logo")
    li
      img(src="" alt="Mango Logo")
    li
      img(src="" alt="Mango Logo")
    li
      img(src="" alt="Mango Logo")