section.venue
  article.marker
    img(src="assets/frontenders.png", alt="", width="390", height="250")
    address
      | Av. Corrientes 2049
      | Edificio 3, Auditorio
      | Buenos Aires, Arg
    time(datetime="2008-02-14 19:30)")
      | Marzo 3
      | 19:30hs
  iframe(width="100%", height="450", frameborder="0", style="border:0", src="http://www.openstreetmap.org/export/embed.html?bbox=-58.404114246368415%2C-34.610764703773604%2C-58.38765621185302%2C-34.597924672421&layer=mapquest&marker=-34.6043537670987%2C-58.39587450027466")