section.venue
  article.marker
    img(src="assets/frontenders.png", alt="", width="390", height="250")
    address
      | Av. Monroe 860
      | Buenos Aires, Arg
    time
      = meetup.when
      = ' '
      = meetup.time
  iframe(width="100%", height="450", frameborder="0", style="border:0", src="http://www.openstreetmap.org/export/embed.html?bbox=-58.4657621383667%2C-34.55983444799581%2C-58.42181682586669%2C-34.53767190250893&layer=mapquest&marker=-34.54877158655516%2C-58.4437894821167")
