section.venue
  article.marker
    img(src="assets/frontenders.png", alt="", width="390", height="250")
    address
      //- | Av. Monroe 860
      //- | Buenos Aires, Arg
      | Av. Corrientes 2049
      | Buenos Aires, Arg
      
    time
      = meetup.when
      = ' '
      = meetup.time
  //- iframe(width="100%", height="450", frameborder="0", style="border:0", src="https://www.openstreetmap.org/export/embed.html?bbox=-58.4657621383667%2C-34.55983444799581%2C-58.42181682586669%2C-34.53767190250893&layer=mapquest&marker=-34.54877158655516%2C-58.4437894821167")
  iframe(width="100%", height="450", frameborder="0", style="border:0", src="https://www.openstreetmap.org/export/embed.html?bbox=-58.404114246368415%2C-34.610764703773604%2C-58.38765621185302%2C-34.597924672421&layer=mapquest&marker=-34.6043537670987%2C-58.39587450027466")
